<div class="forms">
  <div class="login">
    <h2>Login</h2>
    <form class="loginform">
      <div class="formgroup">
        <label for="emaillogin">Email:</label>
        <input class="forminput" type="text" id="emaillogin" />
      </div>
      <div class="formgroup">
        <label for="passwordlogin">Password:</label>
        <input class="forminput" type="password" id="passwordlogin" />
      </div>
      <div class="formgroup">
        <button class="loginbutton" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login">
    <h2>Signup</h2>
    <form class="signupform">
      <div class="formgroup">
        <label for="usernamesignup">Username:</label>
        <input class="forminput" type="text" id="usernamesignup" />
      </div>
      <div class="formgroup">
        <label for="emailsignup">Email:</label>
        <input class="forminput" type="text" id="emailsignup" />
      </div>
      <div class="formgroup">
        <label for="passwordsignup">Password:</label>
        <input class="forminput" type="password" id="passwordsignup" />
      </div>
      <div class="formgroup">
        <button class="loginbutton" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
